* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 28px;
  left: 0px;
  top: 0px;
  background-color: #f3f3f3;
}

.h1 {
  position: absolute;
  width: 37px;
  height: 18px;
  left: 16px;
  top: 6px;
  font-family: "Helvetica";
  font-size: 15px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.016em;
  color: #000000;
}

.gist {
  display: flex;
  margin-left: 16px;
  margin-top: 13px;
}

.profilePic {
  height: 74px;
  width: 74px;
}

.gistName {
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #303133;
align-self: center;
margin-left: 16px;
}